@import 'normalize.scss';

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    background: #F3F3F3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 480px;
    &__welcome {
        color: #838383;
    }
    &__logout {
        color: #C6C6C6;
        font-size: 10px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

/* LOGIN FORM */

.login-form {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    width: 480px;
    margin: 16px;
    padding: 32px;
    &__label {
        display: block;
        color: #272727;
        font-size: 24px;
        margin-bottom: 2px;
    }
    &__input {
        display: block;
        color: #272727;
        font-size: 16px;
        line-height: 16px;
        border: 1px solid #838383;
        border-radius: 4px;
        margin-bottom: 8px;
        padding: 8px;
        width: 100%;
    }
    &__button {
        cursor: pointer;
        background: #FA8500;
        border: 0;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 16px;
        width: 128px;
        height: 32px;
        margin: 8px 0;
    }
    &__error {
        color: #FF0000;
        text-align: center;
    }
}

/* TIMEBOX EDITOR */

.timebox-editor {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    width: 480px;
    margin: 16px;
    padding: 32px;
    &__label {
        display: block;
        color: #272727;
        font-size: 24px;
        margin-bottom: 2px;
    }
    &__input {
        display: block;
        color: #272727;
        font-size: 16px;
        line-height: 16px;
        border: 1px solid #838383;
        border-radius: 4px;
        margin-bottom: 8px;
        padding: 8px;
        width: 100%;
        &--time {
            width: 15%;
        }
    }
    &__button {
        cursor: pointer;
        background: #FA8500;
        border: 0;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 16px;
        width: 128px;
        height: 32px;
        margin: 8px 0;
        &:disabled {
            cursor: default;
            background: #C6C6C6;
        }
    }
}

/* TIMEBOX CREATOR */

.timebox-creator {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    width: 480px;
    margin: 16px;
    padding: 32px;
    &__label {
        display: block;
        color: #272727;
        font-size: 24px;
        margin-bottom: 2px;
    }
    &__input {
        display: block;
        color: #272727;
        font-size: 16px;
        line-height: 16px;
        border: 1px solid #838383;
        border-radius: 4px;
        margin-bottom: 8px;
        padding: 8px;
        width: 100%;
        &--time {
            width: 15%;
        }
    }
    &__button {
        cursor: pointer;
        background: #FA8500;
        border: 0;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 16px;
        width: 128px;
        height: 32px;
        margin: 8px 0;
        &:disabled {
            cursor: default;
            background: #C6C6C6;
        }
    }
}

/* CURRENT TIMEBOX */

.timebox {
    background: #FFFFFF;
    text-align: center;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    margin: 16px;
    padding: 32px;
    width: 480px;
    &--inactive {
        margin: 8px;
        padding: 8px;
    }
    &__title {
        color: #272727;
        font-size: 32px;
        &--inactive {
            font-size: 24px;
        }
    }
    &__clock {
        color: #FA8500;
        font-size: 24px;
        margin: 0;
    }
    &__button {
        cursor: pointer;
        background: #FA8500;
        border: 0;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 16px;
        width: 80px;
        height: 32px;
        margin: 16px 4px;
        &:disabled {
            cursor: default;
            background: #C6C6C6;
        }
    }
}

/* PROGRESS */

.progress {
    display: flex;
    border: 1px solid #272727;
    border-radius: 4px;
    height: 32px;
    margin: 16px;
    padding: 4px;
    &--reverse {
        flex-direction: row-reverse;
    }
    &__bar {
        background: #FA8500;
        border-radius: 4px;
        height: 100%;
    }
}

/* NAVIGATION BUTTONS */

.navigation {
    display: flex;
    justify-content: center;
    &__button {
        cursor: pointer;
        background: #FA8500;
        border: 0;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 16px;
        width: 80px;
        height: 32px;
        margin: 0 4px;
        &:disabled {
            cursor: default;
            background: #C6C6C6;
        }
    }
}

/* NUMBER OF BREAKS */

.breaks {
    color: #272727;
    font-size: 12px;
}

/* OTHER */

.inactive {
    filter: blur(2px) grayscale(1);
}